<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gch.yunpan.user.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="com.gch.yunpan.user.entity.User">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="account" jdbcType="VARCHAR" property="account"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="name" jdbcType="NVARCHAR" property="name"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
    </resultMap>

    <select id="selectByAccount" resultType="com.gch.yunpan.user.entity.User">
        SELECT id, account, password, `name`, create_time as `createTime`
        FROM user
        WHERE account = #{account}
    </select>

    <select id="selectByName" resultMap="BaseResultMap">
        SELECT *
        FROM user
        WHERE `name` LIKE CONCAT('%', #{name}, '%')
    </select>

    <insert id="insert" parameterType="com.gch.yunpan.user.entity.User">
        <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
        INSERT INTO user(account, password, `name`, create_time)
        VALUES (#{account}, #{password}, #{name}, NOW())
    </insert>

    <update id="updatePassword" parameterType="com.gch.yunpan.user.entity.User">
        UPDATE user
        SET password = #{password}
        WHERE id = #{id}
    </update>

    <update id="updateName" parameterType="com.gch.yunpan.user.entity.User">
        UPDATE user
        SET `name` = #{name}
        WHERE id = #{id}
    </update>

    <delete id="delete">
        DELETE FROM user
        WHERE id = #{id}
    </delete>
</mapper>