<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gch.yunpan.mapper.YunFileMapper">
    <resultMap id="BaseResultMap" type="com.gch.yunpan.entity.YunFile">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="owner_id" jdbcType="INTEGER" property="ownerId"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="size" jdbcType="INTEGER" property="size"/>
        <result column="data" javaType="byte[]" jdbcType="BLOB" property="data" typeHandler="org.apache.ibatis.type.BlobTypeHandler"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
    </resultMap>

    <select id="selectById" resultType="com.gch.yunpan.entity.YunFile">
        SELECT *
        FROM yun_file
        WHERE id = #{id}
    </select>

    <select id="selectByOwnerId" resultMap="BaseResultMap">
        SELECT *
        FROM yun_file
        WHERE owner_id = #{ownerId}
    </select>

<!--    <select id="selectByName" resultMap="BaseResultMap">-->
<!--        SELECT *-->
<!--        FROM user-->
<!--        WHERE name LIKE CONCAT('%', #{name}, '%')-->
<!--    </select>-->

    <insert id="insert" parameterType="com.gch.yunpan.entity.YunFile">
        <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
        INSERT INTO yun_file(owner_id, `name`, size, data, create_time)
        VALUES (#{ownerId}, #{name}, #{size},
                #{data, javaType=byte[], jdbcType=BLOB, typeHandler=org.apache.ibatis.type.BlobTypeHandler},
                NOW())
    </insert>

<!--    <update id="updatePassword" parameterType="com.gch.yunpan.entity.User">-->
<!--        UPDATE user-->
<!--        SET password = #{password}-->
<!--        WHERE id = #{id}-->
<!--    </update>-->

<!--    <update id="updateName" parameterType="com.gch.yunpan.entity.User">-->
<!--        UPDATE user-->
<!--        SET name = #{name}-->
<!--        WHERE id = #{id}-->
<!--    </update>-->

<!--    <delete id="delete">-->
<!--        DELETE FROM user-->
<!--        WHERE id = #{id}-->
<!--    </delete>-->
</mapper>